.chatbox{
    font-size: 12px;
    border: 1px solid rgba(194, 193, 193, 0.932);
    position:absolute;
    width:600px;
    height:200px;
    overflow: scroll;
    background-color: rgb(195, 212, 205);
    border-radius: 10px;
	bottom: 0;
	left: 0;
}


.messageField{
    background-color: rgb(195, 212, 205);
    position: absolute;;
    bottom:0px;
	bottom: 0;
	left: 0;
}

.messageInput{
    width: 524px;
    border-radius: 5px;
}


.chatPlayer{
/* background-color: #ffffff; */
border-radius: 5px;
/* width: max-content; */
color: rgb(143, 76, 22);
border-radius: 5px;

/* font-family: fantasy; */
}

.chatMsg{
    color: rgb(42, 49, 87);
    /* background-color: rgba(199, 177, 118, 0.801); */
    width: min-content;
    border-radius: 5px;
    font-family: monospace;
} 