
.main{
    font-size: 20px;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    margin-left: 50vw;
    top: 0vh;
}

.inputField{
    font-size: 32px;
    width: 20px;
}